@model SharePix.WebApp.Models.Albums.AlbumViewModel

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<title>@ViewData["Title"] - @Localize("albums.title")</title>

@if (ViewData["SuccessMessage"] != null)
{
    <div class="text-success">@ViewData["SuccessMessage"]</div>
}

<main role="main">

    <div class="template_container">

        <h1>@(Model.Name)</h1>


        <p>@(Model.Description)</p>
    </div>

    <!-- - - - - - - - - - - - - - Isotope Container - - - - - - - - - - - - - - - - -->

    <div class="portfolio_isotope_container full_width" data-max-request-posts="35" data-page-type="portfolio" data-masonry="true" @*data-url="~/json/portfolio_items.json"*@>

        @foreach (var photo in Model.Photos)
        {
            <div class="isotope_item travelling">
                <div class="grid_sizer"></div>

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">
                    <a href="~/photos/@(photo.Id).jpg" data-lightbox="photos" data-title="@(photo.Description)">
                        <img class="item_image" src="~/photos/@(photo.Id).jpg" />
                        <p class="overlay_link"></p>
                    </a>

                    <h4 class="title">@(photo.Description)</h4>

                    <div class="meta">
                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>
                    </div>
                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>
        }

        <!-- - - - - - - - - - - - - - End of Isotope Container - - - - - - - - - - - - - - - - -->
    </div>


</main>
@section Scripts{
    <script src="~/plugins/isotope.pkgd.min.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'alwaysShowNavOnTouchDevices': true,
            'showImageNumberLabel': true,
        })
    </script>
}


