@model SharePix.WebApp.Models.Albums.AlbumViewModel

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@{
    ViewData["Title"] = Localize("albums.title");
}

<main role="main">

    <div class="template_container">

        <h1>@(Model.Name)</h1>


        <h5 class="color">@(Model.Description)</h5>
    </div>
    @if (ViewData["SuccessMessage"] != null)
    {
        <div id="successAlert" class="alert alert-success alert-dismissible alert-edit" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @ViewData["SuccessMessage"]
        </div>
    }
    <!-- - - - - - - - - - - - - - Isotope Container - - - - - - - - - - - - - - - - -->

    <div class="portfolio_isotope_container full_width" data-max-request-posts="35" data-page-type="portfolio" data-masonry="true" @*data-url="json/gallery_masonry_wall.json"*@>

        @foreach (var photo in Model.Photos)
        {
            <div class="isotope_item travelling">
                <div class="grid_sizer"></div>
                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">
                    <div class="button-edit-style">
                        <a asp-action="EditPhoto" asp-controller="Photos" asp-route-id="@photo.Id">
                            <img src="~/images/edit.png" alt="" class="float-right">
                        </a>
                    </div>
                    <a href="~/photos/@(photo.Id).jpg" class="fancybox wall_image photo" data-rel="gallery_wall">
                        <img class="item_image" src="~/photos/@(photo.Id).jpg" alt="" />
                        <p class="overlay_link"></p>
                        <h4 class="title description-home">@(photo.Description)</h4>
                    </a>

                    <div class="meta">
                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>
                    </div>
                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>
        }

        <!-- - - - - - - - - - - - - - End of Isotope Container - - - - - - - - - - - - - - - - -->
    </div>


</main>

@section Styles{
    <link rel="stylesheet" href="~/css/stylePhotoAlbum.css">
  }

@section Scripts{
    <script src="~/plugins/isotope.pkgd.min.js"></script>
}

