@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    string returnUrl = ViewContext.HttpContext.Request.Path;

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
        .ToList();
}

<!doctype html>
<html>

<head>

    <!-- Basic page needs
    ============================================ -->
    <title>@ViewData["Title"] - SharePix.WebApp</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav_icon.ico">

    <!-- Google web fonts
    ============================================ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Theme CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/guest.css">

    <!-- JS Libs
    ============================================ -->
    <script src="~/plugins/modernizr.js"></script>

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>

    <div id="page_loader" class="page_loader">
        <div id="loader"></div>
    </div>

    <!-- - - - - - - - - - - - - - Cookie Control & Old ie Message - - - - - - - - - - - - - - - - -->

    <div class="messages_wrap">
    </div>

    <!-- - - - - - - - - - - - - - End of Cookie Control & Old ie Message - - - - - - - - - - - - - - - - -->

    <div id="document_wrap">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <header role="banner" id="header-guest" class="vm transparent">

            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
            <div>

                <a class="logo size">

                    <img src="~/images/logo.png" alt="">

                </a>

                <form asp-action="ChangeLanguage" asp-controller="Home" method="post" class="lang-position">
                    <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />
                    <select id="culture"
                            name="culture"
                            class="form-control-language-log"
                            onchange="this.form.submit();"
                            asp-items="cultureItems"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name">
                    </select>
                </form>


            </div>

            <!-- - - - - - - - - - - - - - End of Main Navigation Container - - - - - - - - - - - - - - - - -->

        </header>

        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - Page content - - - - - - - - - - - - - - - - -->

        <div id="page_wrap" class="fullscreen">
            <main>
                <!-- - - - - - - - - - - - - - Revolution Slider - - - - - - - - - - - - - - - - -->

                <div class="bannercontainer">

                    <div class="banner">

                        <ul>

                            <!-- - - - - - - - - - - - - - Slide - - - - - - - - - - - - - - - - -->

                            <li data-transition="fade" data-thumb="/images/1.jpg">

                                <img src="~/images/1.jpg" alt="">

                                <div class="caption sfb stb" data-x="30" data-y="bottom" data-speed="400" data-voffset="-95">

                                    <p class="slide_desc letter">@Localize("message.welcome")</p>

                                </div>

                            </li>

                            <li data-transition="fade" data-thumb="/images/2.jpg">

                                <img src="~/images/2.jpg" alt="">

                                <div class="caption sfb stb" data-x="30" data-y="bottom" data-speed="400" data-voffset="-95">

                                </div>

                            </li>

                            <li data-transition="fade" data-thumb="/images/3.jpg">

                                <img src="~/images/3.jpg" alt="">

                                <div class="caption sfb stb" data-x="30" data-y="bottom" data-speed="400" data-voffset="-95">

                                    <p class="slide_desc letter">@Localize("message.discovery")</p>

                                </div>

                            </li>

                            <li data-transition="fade" data-thumb="/images/4.jpg">

                                <img src="~/images/4.jpg" alt="">

                                <div class="caption sfb stb" data-x="30" data-y="bottom" data-speed="400" data-voffset="-95">

                                    <p class="slide_desc letter">@Localize("message.discovery")</p>

                                </div>

                            </li>

                            <li data-transition="fade" data-thumb="/images/5.jpg">

                                <img src="~/images/5.jpg" alt="">

                                <div class="caption sfb stb" data-x="30" data-y="bottom" data-speed="400" data-voffset="-95">

                                </div>

                            </li>

                            <!-- - - - - - - - - - - - - - End of Slide - - - - - - - - - - - - - - - - -->

                        </ul>

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Revolution Slider - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Actions - - - - - - - - - - - - - - - - -->

            </main>
            @RenderBody()

        </div><!--/ #page_wrapper -->
        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <footer role="contentinfo" id="footer" class="fullscreen">

            <span class="copyright">&copy; 2023 SharePix </span>

            <!-- - - - - - - - - - - - - - Social icons - - - - - - - - - - - - - - - - -->

            <ul class="social_links">

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Facebook</span><i class="icon-facebook-1"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">GooglePlus+</span><i class="icon-gplus"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Twitter</span><i class="icon-twitter"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">LinkedIn</span><i class="icon-linkedin-1"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Instagramm</span><i class="icon-instagramm"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Flickr</span><i class="icon-flickr"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">500px</span><i class="icon-fivehundredpx"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Pinterest</span><i class="icon-pinterest-circled"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Dribbble</span><i class="icon-dribbble-1"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">YouTube</span><i class="icon-youtube-play"></i></a>
                </li>

                <li>
                    <a href="#" class="tooltip_container"><span class="tooltip top">Vimeo</span><i class="icon-vimeo-squared"></i></a>
                </li>

            </ul>

            <!-- - - - - - - - - - - - - - End Social icons - - - - - - - - - - - - - - - - -->

        </footer>

        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div>

    <!-- Include Libs & Plugins
    ============================================ -->
    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src="~/plugins/jquery.mousewheel.min.js"></script>
    <script src="~/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/plugins/svg/snap.svg-min.js"></script>
    <script src="~/plugins/svg/svgicons-config.js"></script>
    <script src="~/plugins/svg/svgicons.js"></script>
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b561d45194bf47" async="async"></script>

    <!-- Theme files
    ============================================ -->

    <script src="~/js/theme.core.js"></script>
    <script src="~/js/theme.plugins.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>