@model SharePix.WebApp.Models.UserAccounts.AddFriendViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="text-danger">@ViewData["ErrorMessage"]</div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="text-success">@ViewData["SuccessMessage"]</div>
}

<h2>@Localize("friends.title")</h2>

<div>
    <button type="button" class="btt" data-toggle="modal" data-target="#exampleModal" asp-action="AddFriend"><img data-placement="bottom" src="~/images/icon_plus.png" />@Localize("addFriends.button")"</button>
</div>

<form asp-action="FriendsAndRequests">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localize("add.newFriend.title")</h5>
                </div>
                <div class="modal-body">
                    <label asp-for="Email">@Localize("searchEmail.title")</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize("general.button.cancel")</button>
                    <button type="submit" class="btn btn-primary">@Localize("general.button.send")</button>
                    @*<a class="btn btn-primary" href="~/Photos/Delete/@(Model.Id)?albumId=@(Model.AlbumId)">@Localize("general.button.confirm")</a>*@
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>@Localize("myList.title")</th>
            </thead>
            <tbody>
                @foreach (var item in Model.Friends)
                {
                    <tr>
                        <td>
                            @item.Username
                            <p>@item.Email</p>
                            <button type="button" class="btt" data-toggle="modal" data-target="#exampleModal1" onclick="javascript:$('#confirmDeleteAnchor').attr('href', '/UserAccounts/DeleteFriend/?friendUsername=@item.Username'); $('#deleteModalEmail').text('@item.Email');"><img src="~/images/remove.png" alt=""></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>@Localize("requests.title")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RequestFriends)
                {
                    <tr>
                        <td>
                            @item.Username
                            <p>@item.Email</p>
                            <button type="button" class="btt" data-toggle="modal" data-target="#exampleModal1" onclick="javascript:$('#confirmDeleteAnchor').attr('href', '/UserAccounts/DeleteFriend/?friendUsername=@item.Username'); $('#deleteModalEmail').text('@item.Email');"><img src="~/images/remove.png" alt=""></button>
                            <a asp-action="AcceptFriend" asp-route-friendUsername="@item.Username"><img src="~/images/accept.png" alt=""></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localize("delete.warning")</h5>
            </div>
            <div class="modal-body">
                <label>@Localize("confirmDeleteEmail.message")</label>
                <p id="deleteModalEmail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize("general.button.cancel")</button>
                <a id="confirmDeleteAnchor" class="btn btn-primary" href="">@Localize("general.button.send")</a>
                @*<a class="btn btn-primary" href="~/Photos/Delete/@(Model.Id)?albumId=@(Model.AlbumId)">@Localize("general.button.confirm")</a>*@
            </div>
        </div>
    </div>
</div>


@section Scripts{
}