@model SharePix.WebApp.Models.UserAccounts.AddFriendViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = Localize("friends.title");
}

@if (ViewData["ErrorMessage"] != null)
{
    <div id="errorAlert" class="alert alert-danger alert-dismissible alert-edit" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewData["ErrorMessage"]
    </div>
}

@if (ViewData["SuccessMessage"] != null)
{
    <div id="successAlert" class="alert alert-success alert-dismissible alert-edit" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewData["SuccessMessage"]
    </div>
}

<h2 class="h2-personalize">@Localize("friends.title")</h2>

<div class="container">
    <div>
        <button type="button" class="add-btn" data-toggle="modal" data-target="#exampleModal" asp-action="AddFriend"><img class="pad-size" data-placement="bottom" src="~/images/plus.png" style="width:auto !important;" />@Localize("add.newFriend.title")</button>
    </div>
</div>

<form asp-action="FriendsAndRequests">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localize("add.newFriend.title")</h5>
                </div>
                <div class="modal-body">
                    <label asp-for="Email">@Localize("searchEmail.title")</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize("general.button.cancel")</button>
                    <button type="submit" class="btn btn-primary">@Localize("general.button.send")</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row center">
    <div class="col-md-6">
        <div class="table-responsive-md">
            <table class="table table-borderless table-friend">
                <thead>
                    <tr>
                        <th scope="col">@Localize("myList.title")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Friends)
                    {
                        <tr>
                            <td>
                                @item.Username
                                <p>
                                    @item.Email
                                    <button type="button" class="icon-x" data-toggle="modal" data-target="#exampleModal1" onclick="javascript:$('#confirmDeleteAnchor').attr('href', '/UserAccounts/DeleteFriend/?friendUsername=@item.Username'); $('#deleteModalEmail').text('@item.Email');"><img src="~/images/remove.png" alt=""></button>
                                </p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <div class="table-responsive-sm">
            <table class="table table-borderless table-friend">
                <thead>
                    <tr>
                        <th>@Localize("requests.title")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RequestFriends)
                    {
                        <tr>
                            <td>
                                @item.Username
                                <br>
                                @item.Email
                                <a class="icon-r" asp-action="AcceptFriend" asp-route-friendUsername="@item.Username"><img src="~/images/accept.png" alt="" style="width:auto !important;"></a>
                                <button type="button" class="icon-x" data-toggle="modal" data-target="#exampleModal1" onclick="javascript:$('#confirmDeleteAnchor').attr('href', '/UserAccounts/DeleteFriend/?friendUsername=@item.Username'); $('#deleteModalEmail').text('@item.Email');"><img src="~/images/remove.png" alt=""></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localize("delete.warning")</h5>
            </div>
            <div class="modal-body">
                <label>@Localize("confirmDeleteEmail.message")</label>
                <p id="deleteModalEmail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize("general.button.cancel")</button>
                <a id="confirmDeleteAnchor" class="btn btn-primary" href="">@Localize("general.button.send")</a>
                @*<a class="btn btn-primary" href="~/Photos/Delete/@(Model.Id)?albumId=@(Model.AlbumId)">@Localize("general.button.confirm")</a>*@
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/friendsAndRequests.css">
}

@section Scripts{
    <script src="~/js/alertSuccess.js"></script>
}

