@model SharePix.WebApp.Models.UserAccounts.LoginViewModel

@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

@{
    ViewData["Title"] = Localize("login.title");
}

<header id="form-box" class="vm transparent">
    <form asp-action="Login">

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible alert-edit" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewData["ErrorMessage"]
            </div>
        }

        <h3>@Localize("login.title")</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-style">
            <input asp-for="UsernameOrEmail" class="form-control" />
            <label asp-for="UsernameOrEmail">@Localize("label.usernameOrEmail")</label>
            <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="Password" class="form-control" />
            <label asp-for="Password">@Localize("label.password")</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <p>
            <a href= '/Useraccounts/ForgotPassword'>@Localize("general.button.forgottenPassword")</a>
        </p>
        <div class="form-style padding">
            <input type="submit" value="@Localize("general.button.login")" class=" btn btn-primary" />
        </div>
        <div class="form-style padding">
            <input type="button" onclick="window.location = '/Useraccounts/Register'" value="@Localize("general.button.createAccount")" class=" btn btn-primary" />
        </div>
    </form>
</header>








