@model SharePix.WebApp.Models.UserAccounts.RegisterViewModel

@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
@{
    ViewData["Title"] = Localize("register.title");
}

<header id="form-box-register" class="vm transparent">
    <form asp-action="Register">

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible alert-edit" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewData["ErrorMessage"]
            </div>
        }

        <div>
            <h3>@Localize("register.title")</h3>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-style">
            <input asp-for="FirstName" class="form-control" />
            <label asp-for="FirstName">@Localize("label.firstName")</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="LastName" class="form-control" />
            <label asp-for="LastName">@Localize("label.lastName")</label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="Username" class="form-control" />
            <label asp-for="Username">@Localize("label.username")</label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="Email" class="form-control" />
            <label asp-for="Email">@Localize("label.email")</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-style">
            <div class="cs">
                <input asp-for="Password" id="password" class="form-control input-conf " />
                <label asp-for="Password">@Localize("label.password")</label>
                <span id="mess"></span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-style">
            <div class="cs">
                <input type="password" id="confirmPassword" class="form-control input-conf" />
                <label>@Localize("label.confirmPassword")</label>
                <span id="message"></span>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-style padding">
            <input type="submit" value="@Localize("general.button.create")" class=" btn btn-primary" />
        </div>
        <div class="form-style padding">
            <input type="button" onclick="window.location = '/Useraccounts/Login'" value="@Localize("general.button.cancel")" class=" btn btn-primary" asp-action="login" />
        </div>
    </form>
</header>

@section Styles{
    <link rel="stylesheet" href="~/css/guestRegister.css">
}

@section scripts{
    <script src="/js/matchPassword.js"></script>
}



