@model SharePix.WebApp.Models.UserAccounts.RegisterViewModel

@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<header id="form-box" class="vm transparent">
    <form asp-action="Register">

        @{
            ViewData["Title"] = Localize("register.title");
        }

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="text-danger">@ViewData["ErrorMessage"]</div>
        }


        <div>
            <h3>@Localize("register.title")</h3>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-style">
            <input asp-for="FirstName" class="form-control" />
            <label asp-for="FirstName" class="control-label">@Localize("label.firstName")</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="LastName" class="form-control" />
            <label asp-for="LastName" class="control-label">@Localize("label.lastName")</label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="Username" class="form-control" />
            <label asp-for="Username" class="control-label">@Localize("label.username")</label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-style">
            <input asp-for="Email" class="form-control" />
            <label asp-for="Email" class="control-label">@Localize("label.email")</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-style cs">
            <input asp-for="Password" id="password" class="form-control input-conf" />
            <label asp-for="Password" class="control-label">@Localize("label.password")</label>
            <span asp-validation-for="Password" id="mess" class="text-danger"></span>
        </div>
        <div class="form-style cs">
            <input type="password" id="confirmPassword" class="form-control input-conf" />
            <label class="control-label">@Localize("label.confirmPassword")</label>
            <span class="style" id="message"></span>
        </div>
        <div class="form-style padding">
            <input type="submit" value="@Localize("general.button.create")" class=" btn btn-primary" />
        </div>
        <div class="form-style padding">
            <input type="button" onclick="window.location = '/Useraccounts/Login'" value="@Localize("general.button.cancel")" class=" btn btn-primary" asp-action="login" />
        </div>
    </form>
</header>

@section scripts{
    <script src="/js/matchPassword.js"></script>
}



