@model SharePix.WebApp.Models.UserAccounts.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<header id="form-box" class="vm transparent">
    <form asp-action="ResetPassword">

        @{
            ViewData["Title"] = Localize("recoverPassword.title");
        }

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="text-danger">@ViewData["ErrorMessage"]</div>
        }

        <div>
            <h3>@Localize("recoverPassword.title")</h3>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" class="form-control" />
        <div class="form-style cs">
            <input asp-for="Password" id="password" class="form-control input-conf" />
            <label asp-for="Password">@Localize("label.password")</label>
            <span asp-validation-for="Password" id="mess" class="text-danger"></span>
        </div>
        <div class="form-style cs">
            <input type="password" id="confirmPassword" class="form-control input-conf"/>
            <label>@Localize("label.confirmPassword")</label>
            <span class="style" id="message"></span>
        </div>
        <div class="form-style padding">
            <input type="submit" value="@Localize("general.button.save")" class=" btn btn-primary" />
        </div>
        <div class="form-style padding">
            <input type="button" onclick="window.location = '/Useraccounts/Login'" value="@Localize("general.button.cancel")" class=" btn btn-primary" />
        </div>
    </form>
</header>

@section scripts{
    <script src="/js/matchPassword.js"></script>
}



