@model IEnumerable<SharePix.WebApp.Models.HomePage.HomePageViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewData["Title"] - @Localize("homepage.title")</title>

<main role="main">

    @if (ViewData["SuccessMessage"] != null)
    {
        <div id="successAlert" class="alert alert-success alert-dismissible alert-edit" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @ViewData["SuccessMessage"]
        </div>
    }

    <!-- - - - - - - - - - - - - - Isotope Container - - - - - - - - - - - - - - - - -->

    <div class="portfolio_isotope_container full_width" data-max-request-posts="35" data-page-type="portfolio" data-masonry="true" @*data-url="json/gallery_masonry_wall.json"*@>

        @foreach (var photo in Model)
        {
            if (photo.AlbumId == null)
            {
                <div class="photo isotope_item travelling">
                    <div class="grid_sizer"></div>
                    <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                    <div class="inner_j_item item_type_1">
                        <div class="button-edit-style">
                            <a asp-action="EditPhoto" asp-controller="Photos" asp-route-id="@photo.Id">
                                <img src="~/images/edit.png" alt="" class="float-right">
                            </a>
                        </div>                     
                        <a href="~/photos/@(photo.Id).jpg" class="fancybox wall_image photo" data-rel="gallery_wall">
                            <img class="item_image" src="~/photos/@(photo.Id).jpg" alt="" />
                            <p class="overlay_link"></p>
                            <h4 class="title description-home">@(photo.Description)</h4>
                        </a>


                        <div class="meta">
                            <div class="stats">

                                <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                                <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                            </div>
                        </div>
                    </div>

                    <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

                </div>
            }
            else
            {
                <!-- - - - - - - - - - - - - Album - - - - - - - - - - - - - - - - -->

                <div class="album isotope_item travelling">
                   @* <div class="grid_sizer"></div>*@
                    <div class="inner_j_item item_type_5">
                        <div class="button-edit-style">
                            <a asp-action="EditAlbum" asp-controller="Albums" asp-route-id="@photo.AlbumId">
                                <img src="~/images/edit.png" alt="">
                            </a>
                        </div>
                        <a href="~/photos/@(photo.Id).jpg">
                            <img class="item_image" src="~/photos/@(photo.Id).jpg" alt="" class="float-right">
                        </a>

                        <a asp-action="ViewAlbum" asp-controller="Albums" asp-route-id="@photo.AlbumId" class="overlay_link"></a>

                        <h4 class="title"><a asp-action="ViewAlbum" asp-controller="Albums" asp-route-id="@photo.AlbumId">@(photo.AlbumName)</a></h4>

                        <div class="meta">

                            <div class="category"><a asp-action="ViewAlbum" asp-controller="Albums" asp-route-id="@photo.AlbumId">@Localize("album.title")</a></div>

                            <div class="stats">

                                <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                                <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                            </div>
                        </div>
                    </div>

                    <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

                </div>
            }
        }

        <!-- - - - - - - - - - - - - - End of Isotope Container - - - - - - - - - - - - - - - - -->
    </div>

</main>

@section Scripts{
    <script src="~/js/homepage.js"></script>
}


