@using Oishi.Shared.Providers;
@model SharePix.WebApp.Models.HomePage.PhotosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewData["Title"] - SharePix.WebApp</title>

<main role="main">

    <div class="template_container">

        <h1>Full Width Masonry Portfolio</h1>

    </div>

    @*    @foreach (var photo in Model.UploadPhoto)
    {
    <div class="col pt-3">
    <div id="@(StringHelperProvider.RemoveDiacriticsAndSpaces(photo.Description))" class="decor">
    <span><img src="~/images/@(photo.Id).jpg" /></span>
    <span class="d-flex justify-content-center">@(photo.Description)</span>
    </div>
    </div>
    }
    *@
    <!-- - - - - - - - - - - - - - Isotope Container - - - - - - - - - - - - - - - - -->

    <div class="portfolio_isotope_container full_width" data-max-request-posts="35" data-page-type="portfolio" data-masonry="true" data-url="~/json/portfolio_items.json">

        <div class="isotope_item travelling">
            @foreach (var photo in Model.UploadPhoto)
            {
                <div class="grid_sizer"></div>

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->
                <div id="@(StringHelperProvider.RemoveDiacriticsAndSpaces(photo.Description))">

                    <div class="inner_j_item item_type_1">

                        <img class="item_image" src="~/images/@(photo.Id).jpg" />
                        <span class="d-flex justify-content-center">@(photo.Description)</span>
                        <a href="portfolio_mixed_list_post.html" class="overlay_link"></a>

                        <span class="d-flex justify-content-center">@(photo.Description)</span>

                        <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                        <div class="meta">

                            <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                            <div class="category"><a href="#">Travelling</a></div>

                            <div class="stats">

                                <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                                <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                            </div>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

                </div>
            }

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_4">

                    <img class="item_image" src="~/images/portfolio_masonry_img_2.jpg" alt="">

                    <a href="portfolio_post_with_sidebar.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_post_with_sidebar.html">Portfolio Post 2</a></h4>

                        <div class="category"><a href="#">People</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of meta info - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item macro">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_3">

                    <img class="item_image" src="~/images/portfolio_masonry_img_3.jpg" alt="">

                    <a href="portfolio_video_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_video_post.html">Portfolio Post 3</a></h4>

                        <div class="category"><a href="#">Macro</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_4">

                    <img class="item_image" src="~/images/portfolio_masonry_img_4.jpg" alt="">

                    <a href="portfolio_ribbon_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_ribbon_post.html">Portfolio Post 4</a></h4>

                        <div class="category"><a href="#">People</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of meta info - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item travelling">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/images/portfolio_masonry_img_5.jpg" alt="">

                    <a href="portfolio_audio_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_audio_post.html">Portfolio Post 5</a></h4>

                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Travelling</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item travelling">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/images/portfolio_masonry_img_8.jpg" alt="">

                    <a href="portfolio_mixed_list_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_mixed_list_post.html">Portfolio Post 8</a></h4>

                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Travelling</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_4">

                    <img class="item_image" src="~/images/portfolio_masonry_img_6.jpg" alt="">

                    <a href="portfolio_post_with_sidebar.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_post_with_sidebar.html">Portfolio Post 6</a></h4>

                        <div class="category"><a href="#">People</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of meta info - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_2">

                    <img class="item_image" src="~/images/portfolio_masonry_img_7.jpg" alt="">

                    <a href="portfolio_ribbon_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_ribbon_post.html">Portfolio Post 7</a></h4>

                        <div class="category"><a href="#">People</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item travelling">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_5">

                    <img class="item_image" src="~/images/portfolio_masonry_img_10.jpg" alt="">

                    <a href="portfolio_video_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_video_post.html">Portfolio Post 10</a></h4>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Travelling</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item macro">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_3">

                    <img class="item_image" src="~/images/portfolio_masonry_img_11.jpg" alt="">

                    <a href="portfolio_audio_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_audio_post.html">Portfolio Post 11</a></h4>

                        <div class="category"><a href="#">Macro</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item macro">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_3">

                    <img class="item_image" src="~/images/portfolio_masonry_img_13.jpg" alt="">

                    <a href="portfolio_mixed_list_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_mixed_list_post.html">Portfolio Post 13</a></h4>

                        <div class="category"><a href="#">Macro</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item travelling">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/images/portfolio_masonry_img_9.jpg" alt="">

                    <a href="portfolio_video_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_video_post.html">Portfolio Post 9</a></h4>

                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Travelling</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item travelling">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_5">

                    <img class="item_image" src="~/images/portfolio_masonry_img_12.jpg" alt="">

                    <a href="portfolio_post_with_sidebar.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_post_with_sidebar.html">Portfolio Post 12</a></h4>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Travelling</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>


            <div class="isotope_item macro">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/images/portfolio_masonry_flowers1.jpg" alt="">

                    <a href="portfolio_mixed_list_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_mixed_list_post.html">Portfolio Post 16</a></h4>

                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Macro</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_4">

                    <img class="item_image" src="~/images/portfolio_masonry_nymphs1.jpg" alt="">

                    <a href="portfolio_post_with_sidebar.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_post_with_sidebar.html">Portfolio Post 17</a></h4>

                        <div class="category"><a href="#">People</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of meta info - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_3">

                    <img class="item_image" src="~/images/portfolio_masonry_lifestyle1.jpg" alt="">

                    <a href="portfolio_video_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_video_post.html">Portfolio Post 18</a></h4>

                        <div class="category"><a href="#">People</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item macro">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_4">

                    <img class="item_image" src="~/images/portfolio_masonry_flowers2.jpg" alt="">

                    <a href="portfolio_ribbon_post.html" class="overlay_link"></a>

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <h4 class="title"><a href="portfolio_ribbon_post.html">Portfolio Post 18</a></h4>

                        <div class="category"><a href="#">Macro</a></div>

                        <!-- - - - - - - - - - - - - - End of Title & Category - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - Item Statistic - - - - - - - - - - - - - - - - -->

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Item Statistic - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of meta info - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/images/portfolio_masonry_nymphs2.jpg" alt="">

                    <a href="portfolio_audio_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_audio_post.html">Portfolio Post 19</a></h4>

                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">People</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

            <div class="isotope_item people">

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/images/portfolio_masonry_lifestyle2.jpg" alt="">

                    <a href="portfolio_mixed_list_post.html" class="overlay_link"></a>

                    <h4 class="title"><a href="portfolio_mixed_list_post.html">Portfolio Post 20</a></h4>

                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">People</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>

        </div>

        <!-- - - - - - - - - - - - - - End of Isotope Container - - - - - - - - - - - - - - - - -->
    </div>
</main>
@section Scripts{
    <script src="~/plugins/isotope.pkgd.min.js"></script>

}


