@model IEnumerable<SharePix.WebApp.Models.HomePage.HomePageViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewData["Title"] - SharePix.WebApp</title>

<main role="main">

    <div class="template_container">

        <h1>@Localize("")</h1>

    </div>

    <!-- - - - - - - - - - - - - - Isotope Container - - - - - - - - - - - - - - - - -->

    <div class="portfolio_isotope_container full_width" data-max-request-posts="35" data-page-type="portfolio" data-masonry="true" @*data-url="~/json/portfolio_items.json"*@>

        @foreach (var photo in Model)
        {
            if (photo.AlbumId == null)
            {
                <div class="isotope_item travelling">
                    <div class="grid_sizer"></div>

                    <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                    <div class="inner_j_item item_type_1">
                        <a href="~/photos/@(photo.Id).jpg" data-lightbox="photos" data-title="@(photo.Description)">
                            <img class="item_image" src="~/photos/@(photo.Id).jpg" />
                            <p class="overlay_link"></p>
                        </a>
                      
                        <h4 class="title">@(photo.Description)</h4>


                        <div class="meta">
                            <div class="stats">

                                <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                                <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                            </div>
                        </div>
                    </div>

                    <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

                </div>
            }
            else
            {
                <!-- - - - - - - - - - - - - Album - - - - - - - - - - - - - - - - -->

                <div class="isotope_item travelling">
                    <div class="inner_j_item item_type_5">
                        <a href="~/photos/@(photo.Id).jpg" data-lightbox="albuns" data-title="@(photo.Description)">
                        <img class="item_image" src="~/photos/@(photo.Id).jpg" alt=""></a>

                        <a asp-action="Index" asp-controller="Albums" asp-route-id="@photo.AlbumId" class="overlay_link"></a>

                        <h4 class="title"><a asp-action="Index" asp-controller="Albums" asp-route-id="@photo.AlbumId">@(photo.AlbumName)</a></h4>

                        <div class="meta">

                               <div class="category"><a asp-action="Index" asp-controller="Albums">@Localize("album.title")</a></div>

                            <div class="stats">

                                <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                                <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                            </div>
                        </div>
                    </div>

                    <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

                </div>
            }
        }

        <!-- - - - - - - - - - - - - - End of Isotope Container - - - - - - - - - - - - - - - - -->
    </div>


</main>
@section Scripts{
    <script src="~/plugins/isotope.pkgd.min.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'alwaysShowNavOnTouchDevices': true,
            'showImageNumberLabel': true,
        })
    </script>
}


