@model SharePix.WebApp.Models.Photos.UploadPhotoViewModel

@{
    ViewData["Title"] = @Localize("uploadPhoto.title");
}

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h1>@Localize("uploadPhoto.title")</h1>
<section id="fm">
    <form asp-action="UploadPhoto" id="uploadForm" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="text-danger">@ViewData["ErrorMessage"]</div>
        }
        <div class="form-group col-md-12">
            <div class="containerPhoto">
                <div id="preview" class="img-file"></div>
                <div class="col-md-4 align-add input-group">
                    <label for="photos" class="btn-add">@Localize("uploadPhoto.title")</label>
                    <input name="files" id="photos" type="file" class="btn-add" multiple style="display:none;" />
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="multiselectInput">@Localize("select.tags")</label>
            <select id="multiselectInput" asp-for="textTagIds" class="form-control" multiple="multiple">
            </select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Date">@Localize("label.date")</label>
            <input asp-for="Date" type="date" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Location">@Localize("label.location")</label>
            <input asp-for="Location" type="text" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Description">@Localize("label.description")</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group col-md-12">
            <input type="submit" value="@Localize("general.button.upload")" class="btt" />
            <input type="button" onclick="window.location = '/Home/Index'" value="@Localize("general.button.cancel")" class="btt cancel" />
        </div>
    </form>
</section>

@section Styles{
    <link rel="stylesheet" href="~/css/stylePhotoAlbum.css">
  }

@section Scripts{
    <script src="/js/uploadPhoto.js"></script>
    <script src="~/js/textTag.js"></script>
}





